@tailwind components;
@tailwind utilities;
@tailwind base;
html{
  scroll-behavior: smooth;
  background-color: #171A21;
}
*{
  color:white
}
.noslc{
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  -ms-user-drag: none;
}
.flw{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.nwgr{
  background: radial-gradient(71.9% 100% at 50% 0%, rgba(101, 1, 205, 0.66) 0%, rgba(0, 0, 0, 0) 100%);
}
.lglow:hover{
  filter: drop-shadow(0px 0px 8px #fff);
}
@font-face {
  font-family: "Figtree";
  src: url('/Figtree-VariableFont_wght.ttf') format("truetype");
  font-weight: 100;
}
@font-face {
  font-family: "Figtree";
  src: url('/Figtree-VariableFont_wght.ttf') format("truetype");
  font-weight: 200;
}
@font-face {
  font-family: "Figtree";
  src: url('/Figtree-VariableFont_wght.ttf') format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "Figtree";
  src: url('/Figtree-VariableFont_wght.ttf') format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Figtree";
  src: url('/Figtree-VariableFont_wght.ttf') format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Figtree";
  src: url('/Figtree-VariableFont_wght.ttf') format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "Figtree";
  src: url('/Figtree-VariableFont_wght.ttf') format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "Figtree";
  src: url('/Figtree-VariableFont_wght.ttf') format("truetype");
  font-weight: 800;
}
*{
  margin: 0px;
  padding: 0px;
  -webkit-user-drag: none;
}
.c-c{
  contain: content;
}
.br1{
  background: 
    linear-gradient(#222632, #222632) padding-box,
    linear-gradient(to right,#0162F8 30%, #00CFDD 99%) border-box;
  border: 2px solid transparent;
  transition: ease-in-out;
  transition-duration: 150ms;
}
.br1:hover{
  filter: drop-shadow(0px 0px 8px #0184F0);
  transition: ease-in-out;
  transition-duration: 100ms;
}
mark{
  background: linear-gradient(-111deg,#9A00FA 10%, #FF5C5C 99%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.br2{
  background: 
    linear-gradient(#222632, #222632) padding-box,
    linear-gradient(to right,#6501CD 30%, #FB5ABE 99%) border-box;
  border: 2px solid transparent;
  transition: ease-in-out;
  transition-duration: 150ms;
}
.br2:hover{
  filter: drop-shadow(0px 0px 8px #8514CA);
  transition: ease-in-out;
  transition-duration: 100ms;
}
.br3{
  background: 
    linear-gradient(#222632, #222632) padding-box,
    linear-gradient(to right,#6602CE 1.73%, #CB5BFF 99.55%) border-box;
  border: 2px solid transparent;
  transition: ease-in-out;
  transition-duration: 150ms;
}
.br3:hover{
  filter: drop-shadow(0px 0px 8px #6602CE);
  transition: ease-in-out;
  transition-duration: 100ms;
}
.br4{
  background: 
    linear-gradient(#222632, #222632) padding-box,
    linear-gradient(to right, #C73739 1.73%, #DDC236 99.55%) border-box;
  border: 2px solid transparent;
  transition: ease-in-out;
  transition-duration: 150ms;
}
.br4:hover{
  filter: drop-shadow(0px 0px 8px #C73739);
  transition: ease-in-out;
  transition-duration: 100ms;
}
.nav{
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(101, 1, 205, 0) 100%);
  border-bottom: 0px solid #CB5BFF;
  transition: ease-in-out;
  transition-delay: 50ms;
  animation-delay: 50ms;
  transition-duration: 75ms;
  animation-duration: 75ms;
}
.nav:hover {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 58.85%, rgba(101, 1, 205, 0.88) 100%);
  background-size: 100% 200%;
  background-position: 50% 100%;
  border-bottom: 3px solid #CB5BFF;
  transition: ease-in-out;
  transition-duration: 150ms;
  cursor: pointer;

  -webkit-animation: light 150ms ease-in-out;
  -moz-animation: light 150ms ease-in-out;
  -o-animation: light 150ms ease-in-out;
  animation: light 150ms ease-in-out;
}
.nav-slc {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 58.85%, rgba(101, 1, 205, 0.88) 100%);
  background-size: 100% 200%;
  background-position: 50% 100%;
  border-bottom: 3px solid #CB5BFF;
  transition: ease-in-out;
  transition-duration: 200ms;
  cursor: pointer;

  -webkit-animation: light 200ms ease-in-out;
  -moz-animation: light 200ms ease-in-out;
  -o-animation: light 200ms ease-in-out;
  animation: light 200ms ease-in-out;
}

@-webkit-keyframes light {
  0%{background-position:50% 0%}
  100%{background-position:50% 100%}
}
@-moz-keyframes light {
  0%{background-position:50% 0%}
  100%{background-position:50% 100%}
}
@-o-keyframes light {
  0%{background-position:50% 0%}
  100%{background-position:50% 100%}
}
@keyframes light {
  0%{background-position:50% 0%}
  100%{background-position:50% 100%}
}

@-webkit-keyframes button {
  0%{background-position:0% 51%}
  50%{background-position:100% 50%}
  100%{background-position:0% 51%}
}
@-moz-keyframes button {
  0%{background-position:0% 51%}
  50%{background-position:100% 50%}
  100%{background-position:0% 51%}
}
@-o-keyframes button {
  0%{background-position:0% 51%}
  50%{background-position:100% 50%}
  100%{background-position:0% 51%}
}
@keyframes button {
  0%{background-position:0% 51%}
  50%{background-position:100% 50%}
  100%{background-position:0% 51%}
}
.nwdiv {
  clip-path: polygon(10% 0, 100% 0%, 100% 100%, 0% 100%);
  background-position: center !important;
  background-size: cover !important;
}
.bps{
  background-position: center !important;
  background-size: cover !important;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5);
  border-style: solid;
  border-width: 1px;
  border-color: rgba(255, 255, 255, 0.5);
  border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #000
}